{
  "@context": [
    "https://www.w3.org/2018/credentials/v1",
    "https://w3id.org/security/suites/jws-2020/v1",
    "https://registry.lab.gaia-x.eu/development/api/trusted-shape-registry/v1/shapes/jsonld/trustframework#"
  ],
  "type": [
    "VerifiableCredential"
  ],
  "id": "{{{ credential_id }}}",
  "issuer": "{{{ issuer }}}",
  "issuanceDate": "{{{ issuance_date }}}",
  "credentialSubject": {
    "id": "{{{ subject_id }}}",
    "type": "gx:DataResource",
    "gx:name": "{{{ data_resource_title }}}",
    "gx:description": "{{{ data_resource_description }}}",
    "gx:containsPII": false,
    "gx:policy": ["{{{ policy_contents }}}"],
    "gx:license": ["{{{ license_url }}}"],
    "gx:copyrightOwnedBy": ["{{{ participant_cs_id }}}"],
    "gx:producedBy": {
      "id": "{{{ participant_cs_id }}}"
    },
    "gx:exposedThrough": [{"id": "{{{ instantiated_virtual_resource_cs_id }}}"}]
  }
}
