{
  "@context": [
    "https://registry.lab.gaia-x.eu/development/api/trusted-shape-registry/v1/shapes/jsonld/participant"
  ],
  "type": "gx:legalRegistrationNumber",
  "id": "{{{ subject_id }}}",
  "gx:vatID": "{{{ vat_id }}}"
}