{
  "@context": "https://www.w3.org/2018/credentials/v1",
  "type": "VerifiablePresentation",
  "verifiableCredential": [
    {{{ legal_registration_number }}},
    {{{ terms_and_conditions }}},
    {{{ participant }}}
  ]
}